<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Account</title>
  <link rel="stylesheet" href="{{ url_for('Static', path='/styles/sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('Static', path='/styles/account.css') }}">
</head>
<body>
	<div class="container">
		My Profile
    <div class="info">
      <div class="id">
        <label for="uname">Username:</label>
        <input type="text" id="username" name="username" disabled>
      </div>
      <div class="id">
        <label for="email">Email ID :</label>
        <input type="text" id="email" name="email" disabled>
      </div>
    </div>
	</div>


	<div class="sidebar">
        <div class="sidebar-link">
              <a href="" class="name">
                <img src="{{ url_for('Static', path='/Images/exflogoW.png') }}">
                <div>
                    Exafluence
                </div>
            </a>
        </div>
        <div class="sidebar-link">
            <a href="/dashboard" class="name">
                <img src="{{ url_for('Static', path='/Images/dash.png') }}">
                <div>
                    Dashboard
                </div>
            </a>
        </div>
        <div class="sidebar-link">
            <a href="/account" class="name">
                <img src="{{ url_for('Static', path='/Images/profile.png') }}">
                <div class="name">
                    My Account
                </div>
            </a>
        </div>
        <div class="sidebar-link">
            <a href="/myshipment" class="name">
                <img src="{{ url_for('Static', path='/Images/mship.png') }}">
                 <div class="name">
                    My Shipment
                </div>
            </a>
        </div>
        <div class="sidebar-link">
            <a href="/newshipment" class="name">
                <img src="{{ url_for('Static', path='/Images/nship.png') }}">
                <div class="name">
                    New Shipment
                </div>
            </a>
        </div>
        <div class="sidebar-link">
            <a href="/ddstream" class="name">
                <img src="{{ url_for('Static', path='/Images/ddata.png') }}">
                <div class="name">
                    Device Data
                </div>
            </a>  
        </div>
        <div class="sidebar-link">
          <a href="/login" class="name">
            <img src="{{ url_for('Static', path='/Images/logout.png') }}">
              <div class="name">
                  Log out
              </div>
          </a>  
        </div>
      </div>
    </div>

    <script>
        var username = getCookie('username');
        var email = getCookie('email');
        var role = getCookie('role');
    
        // Set the retrieved values to the input fields
        document.getElementById('username').value = username;
        document.getElementById('email').value = email;

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
        
      </script>
    
</body>
</html>