.container{
  margin-left: 150px;
  margin-top: 80px;
  margin-bottom: 90px;
  margin-right: 80px;
  height: 300px;
  background: -webkit-linear-gradient(left,rgb(130, 130, 107),rgb(184, 184, 140),rgb(225, 225, 166),rgb(248, 248, 161));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 40px;
  flex-direction: column;
  
  
}

.container .info{
  margin-top: 10px;
  font-size: 18px;
  padding: 15px;
  
}